# Gradle files
.gradle/
build/
bin/

# IDE files
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Fabric/Minecraft run files
run/
run-*/
.fabric/

# Logs
logs/
crash-reports/

# Local config (optional, if you want to keep defaut configs in repo, remove this)
# config/
build.log
build_verify.log
*.log
*.txt

audio-player-mod/